@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.btn-primary{
  background-color: orange;
  border-radius: 10px;
  color: white;
  padding: 20px 25px;
  font-size: 1.25em;
  font-size: 600;
  border: none;
  
}

.p-text{
  font-size: 1.25rem;
  font-weight: 600;

}

.text-primary{
  color: orange;
}

.text-gray{
  color:#424242;
}

.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color:antiquewhite;
}
.section-title{
  font-size: 2.8rem;
  font-weight:700;
}


.disply-flex{
  display: flex;
}
main{
  max-width: 1440px;
  margin: 0 auto ;
}

main > section{
  margin-top:130px;
}











.nav-item{
  list-style: none;
}
.nav-link{
  
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;

}

.navbar{
  justify-content: space-between;
  align-items: center;
  

}
li a:hover{
  background-color: lightblue;
  border-radius: 10px;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
  /*background-color: #f3f1f1;*/
}

.brand{
  font-weight: 700;
  font-size: 3rem;
  margin-left:30px;
}

/* banner related style start ; */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;

}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-images{
  width: 100%;
}

/* team and feature  related style */
.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  margin-left: 130px;
}


#quick-list{
  font-weight: 600;
}
/* features-section-style */

#features-section-title{
border-left: 10px solid orange;
padding-left: 20px;
  
}
.features-card{
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .20);
}
.features-card .features-title{
  font-weight: 600;
  font-size: 1.25rem;
  padding: 28px;
  
}
#experience-badge{
  padding: 45px 45px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-years{
  font-size: 4rem;
  font-weight: 700;
}
.featured-architect img{
    width: 100%;

}
.features{
  gap: 100px;
}


/* some facts style */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
.fact-card{
  border: 1px solid orange;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact-description{
  max-width: 540px;
}

/* sponsors related style */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.soponsor-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
/* .soponsor-company img{
  filter: grayscale(100%);
} */

.footer-section{
  text-align: center;
  justify-content: center;
  margin: 40px auto;
  margin-bottom: 0px;
}








/* responsive media query  */
@media screen and (max-width:576px) {
  .disply-flex{

  }
  .navbar,
  .nav-links,
  .features, 
  .teams{
    flex-direction: column;
  }
  .team-img-container, 
  .facts-container,
  .soponsor-company{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
  margin-left: 10px;
}
#experience-badge{
  margin: 20px;
}
.facts-container{
  justify-items: center;
  gap: 24px;
}
.soponsor-company{
  justify-items: center;
  gap: 50px;
}

  
}
/* responsive for medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams, .features{
  flex-direction: column;
}
.our-features{
  margin-left: 50px auto;

}
.soponsor-company, .facts-container, .some-facts{
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
  gap: 50px;
}

#experience-badge{
  margin: 20px;
}
  
}